@page
@model MovieClubWebApplication.Pages.CountryRazor.IndexModel
@{
    ViewData["Title"] = "Countries";
}
<h3 class="text-center bg-light">Countries</h3>
<hr>
<div class="card w-100 border-0 bg-light">

    <hr>
    <h3 class="text-center bg-light">Countries</h3>
    <hr>
    @foreach (var item in Model.countries)
    {
        <div class="card w-100 border-0 bg-light">

            <div class="card-body mt-3">
                <a href="#" class="card-link">
                    <h5 class="card-title float-right d-inline"> @item.CountryName </h5>
                </a>


                <a asp-page="/CountryRazor/Detail" asp-route-id="@item.Id" class="btn btn-primary">جزییات</a>
                
                <a asp-page="/CountryRazor/Delete" asp-route-id="@item.Id" class="btn btn-primary">حذف</a>
                
                <a asp-page="/CountryRazor/Edit" asp-route-id="@item.Id" class="btn btn-primary">تغییر</a>
                <a href="#" class="card-link"><i class="far fa-bell"></i></a>
                <a href="#" class="card-link"><i class="far fa-comment-alt"></i></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i></a>
                <a href="#" class="card-link"><i class="far fa-bookmark"></i></a>

            </div>
        </div>

    };
