@page
@model MovieClubWebApplication.Pages.ActorMovieRazor.IndexModel
@{
    ViewData["Title"] = "ActorMovies";
}


    <hr>
    <h3 class="text-center bg-light">ActorMovies</h3>
    <hr>
    @foreach (var item in Model.actorMovies)
    {
        <div class="card w-100 border-0 bg-light">

            <div class="card-body mt-3">
                <a href="#" class="card-link">
                    <h5 class="card-title float-right d-inline"> @item.Id </h5>
                </a>


                <a asp-page="/ActorMovieRazor/Detail" asp-route-id="@item.Id" class="btn btn-primary">جزییات</a>
                <a href="#" class="card-link"><i class="far fa-bell"></i></a>
                <a asp-page="/ActorMovieRazor/Delete" asp-route-id="@item.Id" class="btn btn-primary">حذف</a>
                <a href="#" class="card-link"><i class="far fa-bell"></i></a>
                <a asp-page="/ActorMovieRazor/Edit" asp-route-id="@item.Id" class="btn btn-primary">تغییر</a>
                <a href="#" class="card-link"><i class="far fa-bell"></i></a>
                <a href="#" class="card-link"><i class="far fa-comment-alt"></i></a>
                <a href="#" class="card-link"><i class="far fa-heart"></i></a>
                <a href="#" class="card-link"><i class="far fa-bookmark"></i></a>

            </div>
        </div>

    };
