@page
@model MovieClubWebApplication.Pages.Features.GetPopularRazorModel
@{
}
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Wonder Woman</h5>
                <p class="card-text">کارگردان : لورم ایپسوم</p>
                <p class="card-text">سال ساخت : 2020</p>
                <p class="card-text"> IMDB Rate :8.1</p>
                <p class="card-text">Rate by User</p>
                <p class="card-text">خلاصه : لورم ایپسوم</p>
                <a href="#" class="btn btn-primary">ادامه مطلب</a>
            </div>
        </div>
    </div>
</div>
//fyrjtj