@page
@model MovieClubWebApplication.Pages.Drc.DetailModel
@{
    ViewData["Title"] = "Details";
 }

<h1>Details</h1>

<div>
    <h4>Existing List</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.directorDetail.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.directorDetail.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.directorDetail.Id">Edit this List</a> 
    <a asp-page="./Index">All Lists</a>|
    <a href="/LearningResources/@Model.directorDetail.Id">Resources in this List</a>
</div>
