@page
@model MovieClubWebApplication.Pages.Drc.EditModel
@{
    ViewData["Title"] = "Edit Director"; 
 }

<h1>ویرایش</h1>
<h4>کارگردان های موجود </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="directorsEdit.Id" />
            <div class="form-group">
                <label asp-for="directorsEdit.DirectorName" class="control-label"></label>
                <input asp-for="directorsEdit.DirectorName" class="form-control" />
                <span asp-validation-for="directorsEdit.DirectorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./Index">لیست تمام کارگردان ها</a>
</div>

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
}
