@page
@model MovieClubWebApplication.Pages.LoginModel
@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="form-group">
        <label asp-for="userInput.Email">Email address</label>
        <input asp-for="userInput.Email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <span asp-validation-for="userInput.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="userInput.Password">Password</label>
        <input asp-for="userInput.Password" type="password" class="form-control" id="password" aria-describedby="emailHelp" placeholder="Enter Password">
        <span asp-validation-for="userInput.Password" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
