@page
@model MovieClubWebApplication.Pages.Signup.IndexModel
@{ViewData["Title"] = "Sign up ";
}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">


            <!--Left-->


            <div class="col-8 p-0 d-none d-md-block">
                <img src="https://mk0uploadvrcom4bcwhj.kinstacdn.com/wp-content/uploads/2017/06/BreakingBad.jpg" class="img-fluid banner-image" alt="...">
                <div class="row text-image">
                    <div class="col-6 left-text-top">
                        <button type="button" class="btn btn-outline-primary text-dark border-0 btn-top"><i class="fas fa-times"></i></button>
                    </div>
                    <div class="col-6 righ-text-top">
                        <h6 class="mr-2 mt-21 text-dark">ثبت نام</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-image-bottom">
                        <h3 class="text-dark text-center font-weight-bold">خوش آمدید Movie Club به</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-image-bottom-2">
                        <h4 class="text-dark text-center">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</h4>
                    </div>
                </div>


            </div>


            <!--right-->


            <div class="col-lg-4 col-md-4 col-sm-12 bg-light right-site">
                <div class="row">
                    <div class="col-12">
                        <div class="py-5">
                            <img class="d-block mx-auto mb-4" src="Untitled-1.png" alt="" width="120" height="110">
                            <h3 class="text-dark text-center font-weight-bold">به ما بپیوندید</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ایمیل خود را وارد کنید">
                            </div>
                            <div class="form-group mt-4">
                                <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="رمز خود را وارد کنید">
                            </div>
                            <div class="form-group mt-4">
                                <input type="password" class="form-control text-center" id="exampleInputPassword1" placeholder="دوباره رمز را وارد کنید">
                            </div>
                            <div class="form-group mt-5">
                                <button type="submit" class="btn btn-primary form-control d-block mx-auto">ثبت نام</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h6 class="text-dark text-center bottem-right"> اکانت دارید؟ <a class="link-primary" href="#"><strong>وارد شوید</strong></a></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
