@page "{id}"
@model MovieClubWebApplication.Pages.ActorRazor.DeleteModel
@{
    ViewData["Title"] = "Delete Actor";
}

<h1>Delete</h1>

<div class="alert alert-danger">
    <h3>Are you sure you want to delete actor @Model.actorDLT.ActorName ?</h3>
    <p>NOTE: you cant access tio this after deleting.</p>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/Actor/Index">No</a>
    </form>
</div>

