@page "{id}"
@model MovieClubWebApplication.Pages.GenreMovieRazor.DeleteModel
@{
}
<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete - @Model.genreMovieDLT.MovieId</h5>
    <h5>Are you sure you want to delete - @Model.genreMovieDLT.GenreId</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/">No</a>
    </form>
</div>