@page
@model MovieClubWebApplication.Pages.GenreRazor.DetailModel
@{
    ViewData["Title"] = "Details";
}

<h1>جزئیات</h1>

<div>
    <h4>لیست موجود</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.genreDetail.GenreName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.genreDetail.GenreName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.genreDetail.Id">ویرایش این لیست</a>
    <a asp-page="./Index">All Lists</a>|
</div>
