<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieClubWebApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="collapse navbar-collapse text-left" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary text-center" style="border-radius: 1rem;" id="login" href="#">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-outline-primary active text-center" style="border-radius: 1rem;" id="signup" href="#">ثبت نام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-phone-volume phone"></i>+98 9129999999</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="far fa-envelope email"></i>Movie.Club@gmail.com</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-right" href="#">به زودی</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="#">عوامل و بازیگران</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="#">سریال<i class="fas fa-tv ml-1"></i></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-right" href="#">فیلم<i class="fas fa-film ml-1"></i></a>
                    </li>
                </ul>
            </div>
            <a class="navbar-brand" href="#"><img src="Movie Club_Logo_No_Background.png" alt="LogoMovieClub"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MovieClubWebApplication - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
