@page "{id}"
@model MovieClubWebApplication.Pages.CommentRazor.DeleteModel
@{
    ViewData["Title"] = "Delete Comment";
}

<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <h5>Are you sure you wat to delete comment - @Model.tempUser.Text</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="/">No</a>
    </form>
</div>