@page "{id}"
@model MovieClubWebApplication.Pages.Movies.DeleteModel
@{
    ViewData["Title"] = "Delete"; 
 }



<h1>Delete Confirmation</h1>

<div class="alert alert-danger">
    <h5>Are you sure you want to delete Movie - @Model.movieInput.Title</h5>
    <form method="post">
        <button type="submit" class="btn btn-danger">Yes</button>
        <a class="btn btn-primary" asp-page="index">No</a>
    </form>
</div>




