@page
@model MovieClubWebApplication.Pages.Movies.DetailModel
@{

    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Existing List</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.movieDetail.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.movieDetail.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.movieDetail.Id">Edit this List</a>
    <a asp-page="./Index">All Lists</a>|
    <a href="/LearningResources/@Model.movieDetail.Id">Resources in this List</a>
</div>
