@page
@model MovieClubWebApplication.Pages.Movies.EditModel
@{
    ViewData["Title"] = "Edit"; 
  }

<h1>Edit</h1>

<h4>Existing List</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="moviesEdit.Select(x=>x.Id)" />
            <div class="form-group">
                <label asp-for="moviesEdit.Select(x=>x.Title)" class="control-label"></label>
                <input asp-for="moviesEdit.Select(x=>x.Title)" class="form-control" />
                <span asp-validation-for="moviesEdit.Select(x=>x.Title)" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">All Lists</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }