@page
@model MovieClubWebApplication.Pages.Movies.IndexModel
@{
    ViewData["Title"] = "MovieIndex";
}
<hr>
<h3 class="text-center bg-light">Movies</h3>
<hr>
@foreach (var item in Model.movies)
{
    <div class="card w-100 border-0 bg-light">
        <img class="card-img-top" src="@item.Image" style="border-radius: 1rem;" alt="Card image cap">
        <div class="card-body mt-3">
            <a href="#" class="card-link">
                <h5 class="card-title float-right d-inline"> @item.Title </h5>
            </a>


            <a asp-page="/Movies/Index" asp-route-id="@item.Id" class="btn btn-primary">ادامه مطلب</a>
            <a href="#" class="card-link"><i class="far fa-bell"></i></a>
            <a href="#" class="card-link"><i class="far fa-comment-alt"></i></a>
            <a href="#" class="card-link"><i class="far fa-heart"></i></a>
            <a href="#" class="card-link"><i class="far fa-bookmark"></i></a>

        </div>
    </div>


}
                        ;
}
